@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

body {
	background: #fff;
	color: #fff;
}

a {
	color: #fff;
}

input, textarea, button {
	border-radius: 0!important;
}

input, textarea {
	background-color: rgba(0,0,0,0) !important;
	border-color: #b5035b !important;
	color: #fff;
}

input::placeholder, textarea::placeholder {
	color: #fff !important;
}

.button-purple {
	background-color: #b5035b;
	color: #fff;
}

.container-fluid {
	padding: 0;
}

.purple-bg {
	background-color: #b5035b;
}

.nav-item a {
	font-family: 'Century Gothic';
	color: #fff;
	margin: 5px;
}

.nav-link {
	padding: 10px 1rem 0px 1rem;
}

.nav-link:hover {
	color: #ddd;
}

.navbar {
	z-index: 21;
}

.navbar .flex-1 {
	flex: 1;
	flex-basis: 100%;
}

.navbar-toggler {
	color: #fff;
}

.mobile-nav {
	display: none;
	z-index: 10;
}

.hidden {
	display: none;
}

.carousel-indicators li {
	width: 10px;
	height: 10px;
	border-top: unset;
	border-bottom: unset;
	border-radius: 10px;
}

.home_footer img {
	width: 100%;
}

.bottom-carousel {
	width: 100%;
	height: 40px;
	position: absolute;
	bottom: 0px;
	background-color: rgba(181,3,91,.7);
}

.shop_content {
	width: 100%;
	min-height: 100vh;
	background-color: #000;
	background-image: url('../images/shop-bg.jpg');
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: contain;
}

.shop_desc {
	background-image: url('../images/shop-bgwhite.png');
	background-position: top center;
	background-size: contain;
	background-repeat: no-repeat;
	min-height: 100px;
}

.shop_desc .products {
	padding: 25px;
}

.shop_desc .products h3 {
	font-family: 'Arial Bold';
	font-size: 24px;
}

.shop_desc .products p {
	font-family: 'Gotham Book Regular';
	font-size: 12px;
}

#serasoft-shop-carousel {
	background-image: url('../images/carousel-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.shop_now {
	width: 100%;
	min-height: 40px;
	padding: 10px;
	position: fixed;
	bottom: 0;
	background-color: #a10351;
	text-align: center;
	z-index: 16;
}

.review {
	padding: 10px 10px 60px 10px;
}

.explore {
	background-image: url('../images/explore-more-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100%;
}

.explore .carousel .carousel-indicators {
	margin: 0 5px 1.5rem 5px;
}

.explore .carousel .carousel-indicators li {
	width: 120px;
	height: 140px;
	text-indent: unset;
	background-color: unset;
	background-image: url('../images/explore-more-product-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 0;
}

.explore .carousel .carousel-indicators li img {
	width: 100%;
	height: 100%;
}

/**
#serasoft-explore-carousel {
	min-height: 100%;
}
**/

.explore .carousel .carousel-inner .carousel-item {
	justify-content: center;
}

.explore .carousel .carousel-inner .carousel-item img {
	max-height: 500px;
	margin: auto;
}

.get-the-look .article {
	margin: 5px 10px;
}

.get-the-look .article img {
	width: 100%;
}

.starrating > input {display: none;}  /* Remove radio buttons */

.starrating > label:before { 
  content: "\f005"; /* Star */
  margin: 2px;
  font-size: 24px;
  font-family: FontAwesome;
  display: inline-block; 
}

.starrating > label
{
  color: #999; /* Start color when not clicked */
}

.starrating > input:checked ~ label
{ color: #ffca08 ; } /* Set yellow color when star checked */

.starrating > input:hover ~ label
{ color: #ffca08 ;  } /* Set yellow color when star hover */

.risingstar {
	width: 40%;
}

@media screen and (max-width: 442px) and (orientation: portrait){
	.mobile_hide {
		display: none;
	}

	.mobile-nav {
		display: flex;
		background: rgba(0,0,0,.8);
		backdrop-filter: blur(20px);
		-webkit-backdrop-filter: blur(20px);
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		z-index: 20;
	}

	.mobile-nav .nav-item {
		text-align: center;
		padding: 10px 0;
	}

	.nav-item {
		display: inline-block;
		width: 100%;
	}
}