@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

body {
	background: #fff;
	color: #fff;
}

a {
	color: #fff;
}

input, textarea, button {
	border-radius: 0!important;
}

input, textarea {
	background-color: rgba(0,0,0,0) !important;
	border-color: #b5035b !important;
}

input::placeholder, textarea::placeholder, .form-control, .form-control:focus, input:focus, textarea:focus {
	color: #fff !important;
}

.button-purple {
	background-color: #b5035b;
	color: #fff;
}

.container-fluid {
	padding: 0;
}

.purple-bg {
	background-color: #b5035b;
}

.nav-item a {
	font-family: 'Century Gothic';
	color: #fff;
	margin: 5px;
}

.nav-link {
	padding: 10px 1rem 0px 1rem;
}

.nav-link:hover {
	color: #ddd;
}

.navbar {
	z-index: 21;
}

.navbar .flex-1 {
	flex: 1;
	flex-basis: 100%;
}

.navbar-toggler {
	color: #fff;
}

.mobile-nav {
	display: none;
	opacity: 0;
	transition:opacity 0.3s linear;
	-webkit-transition:opacity 0.3s linear; 
	-moz-transition:opacity 0.3s linear; 
	-o-transition:opacity 0.3s linear;
	z-index: 20;
}

.hidden {
	display: none;
}

.carousel-indicators li {
	width: 10px;
	height: 10px;
	border-top: unset;
	border-bottom: unset;
	border-radius: 10px;
}

.home_footer img {
	width: 100%;
}

.bottom-carousel {
	width: 100%;
	height: 40px;
	position: absolute;
	bottom: 0px;
	background-color: rgba(181,3,91,.7);
}

.shop_content {
	width: 100%;
	min-height: 100vh;
	background-color: #000;
	background-image: url('../images/shop-bg.jpg?v=1');
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: contain;
}

.shop_content .carousel .carousel-inner .carousel-item img {
	height: 400px;
	margin: auto;
	padding-bottom: 40px;
}

.shop_desc {
	min-height: 100px;
	margin-top: -180px;
}

.shop_desc .carousel-caption:not(#caption-0) {
    display: none;
}

.shop_desc .carousel-caption {
	padding: 25px;
	position: relative;
	bottom: unset;
	left: unset;
	right: unset;
}

.shop_desc .carousel-caption h3 {
	font-family: 'Arial Bold';
	font-size: 24px;
	text-align: left;
}

.shop_desc .carousel-caption p {
	font-family: 'Gotham Book Regular';
	font-size: 12px;
	text-align: left;
}

.shop_white {
	z-index: 1;
	width: 100%;
	height: 200px;
	background-image: url('../images/shop-bgwhite.png?v=1');
	background-position: top center;
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: -4px;
}

#serasoft-shop-carousel {
	background-image: url('../images/carousel-bg.jpg?v=1');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom center;
}

.shop_now {
	width: 100%;
	min-height: 40px;
	padding: 10px;
	position: fixed;
	bottom: 0;
	background-color: #a10351;
	text-align: center;
	z-index: 16;
}

.review {
	padding: 10px 10px 60px 10px;
}

.explore {
	background-image: url('../images/explore-more-bg.jpg?v=1');
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100%;
	position: relative;
}

.explore .carousel .carousel-indicators {
	margin: 0 5px 1.5rem 5px;
}

.explore .carousel .carousel-indicators li {
	width: 120px;
	height: 140px;
	text-indent: unset;
	background-color: unset;
	background-image: url('../images/explore-more-product-bg.jpg?v=1');
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 0;
}

.explore .carousel .carousel-indicators li img {
	width: 100%;
	height: 100%;
}

/**
#serasoft-explore-carousel {
	min-height: 100%;
}
**/

.explore .carousel .carousel-inner .carousel-item {
	justify-content: center;
}

.explore .carousel .carousel-inner .carousel-item img {
	max-height: 500px;
	margin: auto;
}

.explore_desc {
	margin-top: 50px;
	padding-left: 10px;
	padding-right: 10px;
}

.explore_desc .carousel-caption {
	position: relative;
	left: unset;
	right: unset;
	bottom: unset;
}

.explore_desc .carousel-caption h3 {
	font-family: "Ultra Fresh";
}

.explore_desc .carousel-caption:not(#caption-0) {
    display: none;
}

.caption-socmed i.fab {
	font-size: 25px;
	margin: 5px;
}

.get-the-look .article {
	margin: 5px 10px;
}

.get-the-look .article img {
	width: 100%;
}

.starrating > input {display: none;}  /* Remove radio buttons */

.starrating > label:before { 
  content: "\f005"; /* Star */
  margin: 2px;
  font-size: 24px;
  font-family: FontAwesome;
  display: inline-block; 
}

.starrating > label
{
  color: #999;
}

.starrating > input:checked ~ label
{ color: #be1870 ; }

.starrating > input:hover ~ label
{ color: #be1870 ;  } 

.risingstar {
	width: 40%;
}

.ultra-fresh {
	font-family: "Ultra Fresh";
}

@media screen and (max-width: 442px) and (orientation: portrait){
	.mobile_hide {
		display: none;
	}

	.mobile-nav {
		opacity: 0;
		display: flex;
		background: rgba(0,0,0,.8);
		backdrop-filter: blur(20px);
		-webkit-backdrop-filter: blur(20px);
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
	}

	.mobile-nav.collapse.show {
		opacity:1;
		transition:opacity 0.1s linear; 
		-webkit-transition:opacity 0.1s linear; 
		-moz-transition:opacity 0.1s linear; 
		-o-transition:opacity 0.1s linear;
	}

	.mobile-nav.collapse{
		transition:opacity 0.1s linear; 
		-webkit-transition:opacity 0.1s linear; 
		-moz-transition:opacity 0.1s linear; 
		-o-transition:opacity 0.1s linear;
	}

	.collapsing {
		transition:opacity 0.1s linear; 
		-webkit-transition:opacity 0.1s linear; 
		-moz-transition:opacity 0.1s linear; 
		-o-transition:opacity 0.1s linear;
	}

	.mobile-nav .nav-item {
		text-align: center;
		padding: 10px 0;
	}

	.nav-item {
		display: inline-block;
		width: 100%;
	}
}